*.log
*.cookies
*.cache
config/config.yml
config/database.yml
config/credentials.json
config/token.yml
**/.DS_Store
.DS_Store
tmp/*.log
tmp/*.png
tmp/*.jpg
cache/*.*
db/*.sqlite3
launch/*.plist
launch/*.sh
Gemfile.lock
.anyrobot-environment